.App {
	text-align      : center;
	display         : flex;
	flex-basis      : 100%;
	flex-direction  : column;
	justify-content : space-around;
	align-items     : center;
	position        : fixed;
	top             : 0;
	left            : 0;
	bottom          : 0;
	right           : 0;
}

table {
	margin : 20px;
	width  : 90%;
}

thead {
}

td, th {
	padding    : 10px;
	text-align : left;
}

th {
	border-bottom : solid 1px #999999;
	margin        : 0;

}

footer {
	position    : fixed;
	bottom      : 20px;
	left        : 0;
	right       : 0;
	height      : 20px;
	text-align  : center;
	font-size   : 10px;
	line-height : 20px;
	color       : #999999;
}